spring:
  application:
    name: identity-service
  datasource:
    url: "jdbc:mysql://localhost:3306/identity"
    username: user
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8080
  servlet:
    context-path: /identity

jwt:
  signerKey: "c48fff5ff3eac037d8726dd3e1baaf87979d377b9b1a9f310d73d920131e6978"
